<style>
    body {
        background: url(../../../images/food-home.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        z-index: 10;
        margin-bottom: 12px
    }
</style>

<div class="container">
    <div class="form-signin">
    <form name="form" novalidate>
    <h1 class="form-signin-heading">Register</h1>
        <div ng-show="model.error" class="alert alert-danger" role="alert" >{{model.error}}</div>
    <input ng-model="username" required name="username" type="text" placeholder="username" class="form-control">
        <div class="errorField" ng-show="form.username.$touched && form.username.$invalid">username is required</div>
    <input ng-model="password" required name="password" type="password" placeholder="password" class="form-control">
        <div class="errorField" ng-show="form.password.$touched && form.password.$invalid">password is required</div>
    <input ng-model="verifyPassword" required name="password2" type="password" placeholder="verify password" class="form-control">
        <div class="errorField" ng-show="form.password2.$touched && form.password2.$invalid || form.password.$touched && form.password.$modelValue != form.password2.$modelValue">
            please verify your password
        </div>
    <a ng-click="model.register(username, password, verifyPassword)" class="btn btn-primary btn-block">Register</a>
    <a href="#/login" class="btn btn-danger btn-block">Cancel</a>
    </form>

</div>

<!--</body>-->
<!--</html>-->