

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 650px;
    color: white;
    background: url("../images/main.png") no-repeat center;
    background-size: cover;
}

.intro-pic {
    margin: auto;
    align: center;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

.intro-message {
    margin: auto;
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgba(212, 212, 212, 0.3);
    border-radius: 10px;

}


.intro-text {
    /*padding-top: 3%;*/
    padding-bottom: 3%;
}

.main-content {
    background: url("http://static.planetminecraft.com/files/resource_media/screenshot/1236/pack_3530346.jpg") no-repeat center;
    background-size: cover;
}

.project-content {
    padding-bottom: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.36);;
}

a {
    color: white;
}
