

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    height: 650px;
    color: white;
    background: url("../images/main.png");
    background-size: cover;
}

.intro-message {
    margin: auto;
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: rgba(212, 212, 212, 0.3);
    border-radius: 10px;
}

.intro-pic {
    margin: auto;
    align: center;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}
