

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 650px;
    color: white;
    background: url("../images/main.png") no-repeat center;
    background-size: cover;
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
}

.intro-pic {
    margin: auto;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

.intro-message {
    margin: auto;
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgba(212, 212, 212, 0.3);
    border-radius: 4px;
    height: 260px;

}

#myName {
    font-size: 380%;
    font-weight: 600;
}
.intro-text {
    margin: auto;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 200%;
    font-weight: 400;
    /*height: 26%;*/
}

.main-content {
    background: url("http://static.planetminecraft.com/files/resource_media/screenshot/1236/pack_3530346.jpg") no-repeat center;
    background-size: cover;
}

.project-content {
    padding-bottom: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.36);;
}

a {
    color: white;
}
