<div id="nav-upnav" aria-hidden="true" class="navbar-fixed-top">
</div>
<nav class="navbar navbar-inverse navbar-fixed-top nav-my">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">FoodU</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <a ng-show="!model.user" href="#/login" class="btn btn-success">Sign in</a>
                </div>
                <div class="form-group">
                    <a ng-show="!model.user" href="#/register" class="btn btn-primary">Sign up</a>
                </div>
                <div class="form-group">
                    <label id="welcome" ng-show="model.user">Welcome! </label>
                    <div ng-show="model.user" class="btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{model.user.username}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/user/{{model.uid}}">My profile</a></li>
                            <li><a href="#/user/{{model.uid}}/mealPlan">My meal plan</a></li>
                            <li><a href="#/help">Help</a></li>
                        </ul>
                    </div>
                </div>
                <
                <div class="form-group">
                    <a class="sign-out" ng-show="model.user" ng-click="model.logout()">Sign out</a>
                </div>

            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<!-- end nav -->

<div class="row">
    <div class="icon-bar col-xs-4 content fixed-side-bar">
        <a title="view meal plan list" class="active" href="#/user/{{model.uid}}/mealPlan"><i class="fa fa-list"></i></a>
        <a title="save meal plan" ng-click="model.createMealPlan(date, title, description)"><i class="fa fa-floppy-o"></i></a>
        <a title="back to meal plan list" href="#/user/{{model.uid}}/mealPlan"><i class="fa fa-arrow-left"></i></a>
        <a title="clear all" ng-click="model.resetForm()"><i class="fa fa-undo"></i></a>
        <a title="help" href="#/help/#newMealPlan"><i class="fa fa-question-circle"></i></a>
    </div>
    <div class="meal-plan-list col-xs-12">
        <div class="container content">
            <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
            <form id="form" name="form" novalidate>
                <div class="form-group">
                    <label for="datepicker">Plan Date</label>
                    <input ng-model="date" class="form-control" required type="text" id="datepicker" name="date">
                    <div class="errorField" ng-show="form.date.$touched && form.date.$invalid">date is required</div>
                </div>
                <div class="form-group">
                    <label for="title">Meal Plan Title</label>
                    <input ng-model="title" required name="title" type="text" class="form-control" id="title"
                           placeholder="Title">
                    <div class="errorField" ng-show="form.title.$touched && form.title.$invalid">title is required</div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
            <textarea ng-model="description" rows="3" class="form-control" id="description"
                      placeholder="Describe the plan...">

            </textarea>
                </div>
            </form>
            <div>
                <h4>Meals</h4>
                <!--<a ng-click="model.addNewMeal()" ng-show="meal.mid==0" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></a>-->
                <form id="mealForm" name="mealForm" novalidate>
                    <div ng-repeat="meal in model.meals" class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="form-group col-sm-2">
                                    <!--<label for="timeSlot">Time slot</label>-->
                                    <select ng-model="meal.timeSlot" class="form-control" id="timeSlot" name="timeSlot"
                                            required>
                                        <option selected value="morning">Morning</option>
                                        <option value="noon">Noon</option>
                                        <option value="evening">Evening</option>
                                        <option value="snack">Snack</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-8">
                                    <!--<label for="mealTitle">Title</label>-->
                                    <input ng-model="meal.title" name="mealTitle" required type="text"
                                           class="form-control"
                                           id="mealTitle" placeholder="Meal title">

                                </div>

                                <div class="form-group col-sm-2">
                                    <a ng-click="model.removeMeal(meal.mid)" class="btn btn-default"><i
                                            class="fa fa-minus"
                                            aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h5>Search and add food</h5>
                            <div class="input-group">
                                <input ng-model="searchText" type="text" class="form-control"
                                       placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button ng-click="model.searchProducts(0, searchText, meal.mid, 0, 'product')" class="btn btn-default" type="button"><span
                                                class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </span>
                            </div><!-- /input-group -->
                            <table class="table table-condensed food-list">
                                <tr ng-repeat="food in meal.foods">
                                    <td>{{food.title}}</td>
                                    <td><img ng-src="{{food.image}}" width="20%" ></td>
                                    <td ng-click="model.removeFood(food.id, meal.mid)"><i class="fa fa-times" aria-hidden="true"></i></td>
                                </tr>
                            </table>
                            <!-- The Modal -->
                            <div class="modal" ng-class="'meal{{meal.mid}}'">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span ng-click="model.hideSearch(meal.mid)" class="close">x</span>

                                    <a value="product"
                                       class="btn btn-default"
                                       ng-click="model.searchProducts(model.offset-30, searchText, meal.mid, 0, 'product')">
                                        Grocery food <span ng-show="model.type=='product'" class="badge">{{model.totalProducts}}</span></a>
                                    <a class="btn btn-default"
                                       ng-click="model.searchProducts(model.offset-30, searchText, meal.mid, 0, 'recipe')"
                                       value="recipe">
                                        Recipe <span ng-show="model.type=='recipe'" class="badge">{{model.totalProducts}}</span></a>
                                    <nav>
                                        <ul class="pager">
                                            <li><a ng-show="model.offset>0" ng-click="model.searchProducts(model.offset-30, searchText, meal.mid, 1, model.type)">Previous</a></li>
                                            <li><a ng-show="model.offset<model.totalProducts" ng-click="model.searchProducts(model.offset+30, searchText, meal.mid, 1, model.type)">Next</a></li>
                                        </ul>
                                    </nav>

                                    <div class="row search-result">
                                        <div class="col-xs-12 col-xs-6 col-md-3" ng-repeat="product in model.productList">
                                            <div ng-click="model.addFood(product, meal.mid)" class="thumbnail">
                                                <img ng-src="{{product.image}}"
                                                     width="50%"/>
                                                <div class="caption">
                                                    <p>{{product.title}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <a ng-click="model.addNewMeal()" class="btn btn-block btn-default">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add meal</a>
            </div>
            <!-- end meal div -->
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom footer">
    <div class="container">
        <h5>Connect me</h5>
        <a href="https://github.com/jueyang1031/yang-jue-web-dev"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
        <a href="https://www.linkedin.com/in/jue-yang-61a91890" ><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
        <a ><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
        <a href="mailto:yang.jue@husky.neu.edu" ><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
    </div>
</nav>

<script>
    $(function () {
        $("#datepicker").datepicker({
            showOn: "button",
            buttonImage: "../../images/calendar-icon.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        });
    });
</script>