<div id="nav-upnav" aria-hidden="true" class="navbar-fixed-top">
</div>
<nav class="navbar navbar-inverse navbar-fixed-top nav-my">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">FoodU</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <a ng-show="!model.user" href="#/login" class="btn btn-success">Sign in</a>
                </div>
                <div class="form-group">
                    <a ng-show="!model.user" href="#/register" class="btn btn-primary">Sign up</a>
                </div>
                <div class="form-group">
                    <label id="welcome" ng-show="model.user">Welcome! </label>
                    <div ng-show="model.user" class="btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{model.user.username}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/user/{{model.uid}}">My profile</a></li>
                            <li><a href="#/user/{{model.uid}}/mealPlan">My meal plan</a></li>
                            <li><a href="">My basket</a></li>
                        </ul>
                    </div>
                </div>
                <
                <div class="form-group">
                    <a class="sign-out" ng-show="model.user" ng-click="model.logout()">Sign out</a>
                </div>

            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<!-- end nav -->

<div class="row">
    <div class="icon-bar col-xs-4 content fixed-side-bar">
        <a title="view meal plan list" class="active" href="#/user/{{model.uid}}/mealPlan"><i class="fa fa-list"></i></a>
        <a title="create new meal plan" href="#/user/{{model.uid}}/mealPlan/new"><i class="fa fa-plus"></i></a>
        <a title="explore meal plan" href="#/user/{{model.uid}}/mealPlan/search"><i class="fa fa-search"></i></a>
        <a title="delete meal plan" ng-click="model.deleteMealPlans(model.uid)"><i class="fa fa-trash"></i></a>
        <a title="help" href=""><i class="fa fa-question-circle"></i></a>
    </div>


    <div class="meal-plan-list col-xs-12">
        <div class="container content">
            <div class="meal-plan-list-filter">filter: <input ng-model="q"></div>
            <p class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </p>
            <div ng-repeat="mealPlan in model.mealPlans | orderBy : 'date' : true | filter:q as results"  class="panel panel-success">
                <!-- Default panel contents -->
                <div class="accordion panel-heading">
                    <div >
                        <a ng-click="model.getMealPlan(mealPlan._id)">
                            <b>{{mealPlan.date}}</b> &nbsp &nbsp &nbsp
                            {{mealPlan.title}}
                        </a>
                        <div class="pull-right">
                            <input class="checkToDelete" ng-click="model.checkedMealPlan(mealPlan._id, $index)"
                                   type="checkbox">
                        </div>
                        <a href="#/user/{{model.uid}}/mealPlan/{{mealPlan._id}}">
                            <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
                <!--<div class="meal-plan-detail">-->
                <div class="panel-body">
                    <p>{{mealPlan.description}}</p>

                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Food list</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="meal in mealPlan.meals">
                        <td ng-switch="meal.timeSlot">
                            <i ng-switch-when="morning" title="morning" class="slot fa fa-coffee"
                               aria-hidden="true"></i>
                            <i ng-switch-when="noon" title="noon" class="slot fa fa-sun-o" aria-hidden="true"></i>
                            <i ng-switch-when="evening" title="evening" class="slot fa fa-cutlery"
                               aria-hidden="true"></i>
                            <i ng-switch-when="snack" title="snack" class="slot fa fa-glass" aria-hidden="true"></i>
                            {{meal.title}}
                        </td>
                        <td>
                            <ul>
                                <li ng-repeat="food in meal.foods">
                                    {{food.title}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <!--</div>-->
            </div>

        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
        <span ng-click="model.hideSearch()" class="close">x</span>
        <h3><b>{{model.mealPlan.date}}</b> &nbsp &nbsp &nbsp {{model.mealPlan.title}}
        </h3>
        <p>{{model.mealPlan.description}}</p>
    <div ng-repeat="meal in model.mealPlan.meals" class="panel panel-default">
        <div class="panel-heading">
                <span ng-switch="meal.timeSlot">
                    <i ng-switch-when="morning" title="morning" class="slot fa fa-coffee" aria-hidden="true">Morning</i>
                    <i ng-switch-when="noon" title="noon" class="slot fa fa-sun-o" aria-hidden="true">Noon</i>
                    <i ng-switch-when="evening" title="evening" class="slot fa fa-cutlery" aria-hidden="true">Evening</i>
                    <i ng-switch-when="snack" title="snack" class="slot fa fa-glass" aria-hidden="true">Snack</i>
                </span>

            <h4>{{meal.title}}</h4>
        </div>
        <div class="panel-body">
        <ul>
            <li ng-repeat="food in meal.foods">
                {{food.title}}
                <img ng-src="{{food.image}}" width="30%">
            </li>
        </ul>
        </div>
    </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">

</nav>
