<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <!--<meta name="viewport" content="initial-scale=1.25, user-scalable = no">-->
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!--<link href="../css/style.css" rel="stylesheet"/>-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

    <div class="container">
        <form name="form" novalidate>
        <h1>Login</h1>
        <div ng-show="model.error" class="alert alert-danger" role="alert" >{{model.error}}</div>
        <input ng-model="username" required name="username" type="text" placeholder="username" class="form-control">
        <div ng-show="form.username.$touched && form.username.$invalid">username is required</div>
        <input ng-model="password" required name="password" type="password" placeholder="password" class="form-control">
        <div ng-show="form.password.$touched && form.password.$invalid">password is required</div>
        <a ng-click="model.login(username, password)" class="btn btn-primary btn-block">Login</a>
        <a href="#/register" class="btn btn-success btn-block">Register</a>
        </form>
    </div>

<!--</body>-->
<!--</html>-->