<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet"/>
    <title>Widget list</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="../page/page-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-chooser.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>GIZMODO</h1>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>Incredible Card Flourishes Look Even Better in Slow Motion</h4>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%"
             src="https://i.kinja-img.com/gawker-media/image/upload/s--otuTTAxW--/c_scale,fl_progressive,q_80,w_800/chxzb0uyiwhjnzbvvtp4.gif">
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>Cardistry <a href="http://sploid.gizmodo.com/this-kid-knows-his-way-around-a-deck-of-cards-1772248509">is
            cool</a>, but some of its best flourishes are often hard to follow. The hand movements are so small and
            quick that your brain barely has time to process what happened before the next trick begins. So <a
                    href="https://www.youtube.com/channel/UCd3QjsY2nngpBYCoUihX7HA" rel="noopener" target="_blank">thevirts</a>
            decided to take things easy in a new video.</p>
    </div>

    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>Cardistry - Virtuoso : Liquid Paper feat. the SS16 Virtuoso Deck</h4>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="widget-youtube.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" src="https://www.youtube.com/embed/I0KSaqiv5C0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="jga-widget">
        <div class="jga-widget-tool">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>Learn more about the SS16 Virtuoso deck and our latest Cardistry tutorials at <a href="http://thevirts.com"
                                                                                            class="yt-uix-sessionlink  "
                                                                                            data-url="http://thevirts.com"
                                                                                            data-sessionlink="ei=fU4_V6XYEqWX8gTzmLigAg"
                                                                                            rel="nofollow"
                                                                                            target="_blank">http://thevirts.com</a>
        </p>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-offset-11 text-center ">
                <a href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>