
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FoodU</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                <a ng-show="!model.user" href="#/login" class="btn btn-success">Sign in</a>
                </div>
                <div class="form-group">
                <a ng-show="!model.user" href="#/register" class="btn btn-primary">Sign up</a>
                    </div>
                <div class="form-group">
                <label id="welcome" ng-show="model.user" >Welcome! </label>
                <div ng-show="model.user" class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{model.user.username}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/{{model.user._id}}">My profile</a></li>
                        <li><a href="#/user/{{model.user._id}}/mealPlan">My meal plan</a></li>
                        <li><a href="#/help">Help</a></li>
                    </ul>
                </div>
                    </div>
                <<div class="form-group">
                <a class="sign-out" ng-show="model.user" ng-click="model.logout()">Sign out</a>
                </div>

            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>


<div id="frontImage">
    <div id="frontImageOverlay">
        <div class="container">
        <h1>Track food. Track life.</h1>
            <div class="row">
            <div class="col-xs-12 col-sm-4">

                <div class="claimCircle a">
                    <a href="#/search">
                    <i class="fa fa-search fa-5x fa-inverse" aria-hidden="true"></i>
                    <p>Search for nutrients of food</p>
                    <i class="fa fa-play fa-inverse" aria-hidden="true"> see more</i>
                    </a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4" >
                <div class="claimCircle b">
                    <a href="#/user/{{model.user._id}}/mealPlan">
                    <i class="fa fa-calendar-o fa-5x fa-inverse" aria-hidden="true"></i>
                    <p>Meal planner and food tracker</p>
                    <i class="fa fa-play fa-inverse" aria-hidden="true"> see more</i>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="claimCircle c" >
                    <a href="#/help">
                    <i class="fa fa-shopping-basket fa-5x fa-inverse" aria-hidden="true" ></i>
                    <p>Create and collect food in basket</p>
                    <i class="fa fa-play fa-inverse" aria-hidden="true"> see more</i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <a href="">
                    <h2 class="section-heading">Search for nutrients of food</h2>

                </a>
                <p class="lead">
                    Search thousand of food product and learn their ingredients and nutrients.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <br><br><br>
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="../../images/search.png" width="100%" height="inherite" border="2">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                    <h2 class="section-heading">Meal planner and food tracker</h2>
                <p class="lead">Add food product including homemade meals, store-bought products and basic foods to your meal calendar.
                    Keep track of daily nutrients.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <br><br>
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="../../images/meal-plan.png" width="100%">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a href="">
                        <h2 class="section-heading">Create and collect food you like</h2>
                    </a>
                    <p class="lead">
                        Collect food you like in the baskets or create customized food and save them to the baskets. Add them later into your meal plan.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br><br><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <img>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom footer">
    <div class="container">
    <h5>Connect me</h5>
    <a href="https://github.com/jueyang1031/yang-jue-web-dev"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/jue-yang-61a91890" ><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
    <a ><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
    <a href="mailto:yang.jue@husky.neu.edu" ><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
    </div>
</nav>